# Global infrastructure
POSTGRES_USER=ferrum
POSTGRES_PASSWORD=ferrum
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_MULTIPLE_DATABASES="auth_service user_service content_service catalog_service"

REDIS_URL=redis://redis:6379/0
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=media

# Shared Django defaults
DJANGO_SECRET_KEY=dev-secret-key
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4173
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://localhost:4173
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin1234

# Payment sandbox
YOOKASSA_SHOP_ID=
YOOKASSA_API_KEY=
CHECKOUT_RETURN_URL=http://localhost:3000/orders/success

# Frontend envs
NEXT_PUBLIC_CATALOG_API_URL=http://catalog_service:8000/api/v1
NEXT_PUBLIC_CONTENT_API_URL=http://content_service:8000/api/v1/public
NEXT_PUBLIC_NEWS_API_URL=http://content_service:8000/api/v1/public/news
NEXT_PUBLIC_BRAND_API_URL=http://catalog_service:8000/api/v1/brands

VITE_AUTH_API_URL=http://localhost:8101/api/v1
VITE_USER_API_URL=http://localhost:8102/api/v1
VITE_CONTENT_API_URL=http://localhost:8103/api/v1
VITE_CATALOG_API_URL=http://localhost:8104/api/v1


